#jadwalTitle {
    font-size: 1.8rem;         /* ukuran seperti navbar */
    font-weight: 700;          /* tebal */
    background: linear-gradient(90deg, #6A85FF, #7DE2F2); /* gradient biru ke biru muda */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;        /* wajib agar gradient muncul */
    text-align: center;        /* center horizontal */
    margin-bottom: 20px;
}
